allow untrusted_app sysfs:file { getattr open read };
allow untrusted_app proc_iomem:file { getattr open read };
allow untrusted_app proc_sysrq:file { getattr open read };
